<?xml version="1.0"?>
<launch>
  <!-- <rosparam file="$(find qcar_interface)/cameras_realsense.yaml" command="load" /> -->
  <rosparam file="$(find qcar_interface)/cameras.yaml" command="load" />
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find qcar_gazebo)/urdf/qcar_model.xacro'"/>
  <!-- <param name="robot_description" command="$(find xacro)/xacro '$(find qcar_gazebo)/urdf/qcar_model.xacro'" /> -->

  <!-- send fake joint values -->
  <!-- <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" /> -->

  <!-- Combine joint values -->
  <!-- <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/> -->

  <!-- Show in Rviz   -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find qcar)/rviz/qcar.rviz" required="true"/>

</launch>
